[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.0.0"
tensorboard = "2.0.0"
checkpointer = "*"
relib = "*"
protobuf = "==3.10.0"
streamlit = "==0.48.0"
scikit-learn = "==0.21.3"
pandas = "==0.25.1"
matplotlib = "*"
h5py = "==2.10.0"
numpy = "==1.17.2"
click = "==7.0"

[dev-packages]

[requires]
python_version = "3.7"
